<div>
  <h3 class="text-center text-black pt-5">Editing Book</h3>
  <div class="container">
    <%= render 'form', book: @book %>
  </div>
</div>

<%= link_to 'Show', @book, class: "btn btn-dark btn-lg text-light" %>
<%= link_to 'Back', books_path, class: "btn btn-dark btn-lg text-light" %>
